section.apresentacao{
  width:100%;
  height:100dvh;
}

section.apresentacao .texto{
  width:50%;
  max-width:50%;
  padding:120px 80px;
  border:1px solid #333;
  font-family:var(--titleH1);
}
section.apresentacao .texto .bola-roxa{
  width:120px;
  margin-bottom:5%
}
section.apresentacao .texto .subTitulo{
  font-size: clamp(20px, 5vw, 40px)
}
section.apresentacao .texto .titulo{
  font-size: clamp(30px, 5vw, 72px)
}
section.apresentacao .texto .titulo span{
  color: var(--cor-roxa);
}
section.apresentacao .texto .paragrafo{
  width:94%;
  font-family:var(--paragraph);
  color:var(--cor-secundaria);
}
section.apresentacao .texto .onda{
  width:100%;
  margin-top:2%;
}